@{
    ViewData["Title"] = "Weather Forecast";
}

<section>
    <div class="container">
        <div class="card">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2 class="mb-4 text-center">Get Your Weather Forecast Now!</h2>
                    <form id="weatherForm" method="post">
                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group">
                                    <label for="location">Location:</label>
                                    <input type="text" class="form-control" id="location" name="location"  />
                                    <div class="invalid-feedback">Please Enter A Valid Location.</div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group">
                                    <label for="unit">Unit:</label>
                                    <select class="form-control" id="unit" name="unit">
                                        <option value="C">Celsius</option>
                                        <option value="F">Fahrenheit</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-full-width mt-2">Get The Weather Forecast</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Loader -->
<div id="loader-container" class="d-none">
    <div id="loader" class="spinner-border text-primary" role="status">
    </div>
    <div id="loader-overlay"></div>
</div>

<div id="weatherResult" class="container mt-4 text-center">
    <!-- Weather data will be loaded here -->
</div>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#weatherForm").submit(function (event) {
                event.preventDefault();
                var locationInput = document.getElementById('location');
                if (locationInput.value.trim() === '') {
                    locationInput.classList.add('is-invalid'); // Add is-invalid class if input is empty
                    return; // Exit function if input is empty
                }
                if (!locationInput.checkValidity()) return; // Check input validity
                $("#loader-container").removeClass("d-none"); // Show loader
                $("#weatherResult").empty(); // Clear previous weather data

                $.ajax({
                    url: '@Url.Action("GetWeather", "Weather")',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (result) {
                        $("#weatherResult").html(result); // Display weather data
                        updateToggleButtonText(); // Update the toggle button text
                    },
                    error: function (xhr, status, error) {
                        // Handle the error by hiding the loader and displaying an error message
                        $("#loader-container").addClass("d-none"); // Hide loader
                        $("#weatherResult").html('<section><div class="Container"><div class="card text-white bg-danger mb-3"><div class="card-body"><h5 class="card-title">City Not Found</h5><p class="card-text">Sorry but the city you are looking for seems to not exist. Please type in another city to view the weather</p></div></div></div></section>');
                    },
                    complete: function () {
                        $("#loader-container").addClass("d-none"); // Hide loader
                    }
                });
            });

            // Update input style on input change
            $("#location").on("input", function () {
                if (this.checkValidity()) {
                    $(this).removeClass("is-invalid").addClass("is-valid");
                } else {
                    $(this).removeClass("is-valid").addClass("is-invalid");
                }
            });

            // Custom validation for the location input
            $("#location").on("invalid", function (event) {
                event.preventDefault();
                $(this).addClass("is-invalid");
            });
        });


        // Function to toggle between Celsius and Fahrenheit
        function toggleTemperatureUnit() {
            var temperatureElement = document.getElementById("temperature");
            var toggleUnitBtn = document.getElementById("toggleUnitBtn");
            var currentTemperature = temperatureElement.innerText;
            var isCelsius = currentTemperature.includes("°C");

            if (isCelsius) {
                var fahrenheit = Math.round((parseInt(currentTemperature) * 9 / 5) + 32);
                temperatureElement.innerText = fahrenheit + " °F";
                toggleUnitBtn.innerText = "Convert to °C";
            } else {
                var celsius = Math.round((parseInt(currentTemperature) - 32) * 5 / 9);
                temperatureElement.innerText = celsius + " °C";
                toggleUnitBtn.innerText = "Convert to °F";
            }
        }

        // Function to refresh weather data
        function refreshWeather() {
            $("#loader-container").removeClass("d-none");

            // Get the location and unit from the form inputs
            var location = document.getElementById("location").value;
            var unit = document.getElementById("unit").value;

            // Call the GetWeather function with the location and unit
            $.ajax({
                url: '@Url.Action("GetWeather", "Weather")',
                type: 'POST',
                data: { location: location, unit: unit },
                success: function (result) {
                    // Update the weather data in the UI
                    $("#weatherResult").html(result).show();
                    $("#loader-container").addClass("d-none");
                    updateToggleButtonText(); // Update the toggle button text
                },
                error: function (xhr, status, error) {
                    alert("An error occurred: " + error);
                    $("#loader-container").addClass("d-none"); // Hide loader in case of error
                },
                complete: function () {
                    console.log("AJAX request completed"); // Log completion of AJAX request
                }
            });
        }

        // Initial check to update the toggle button text based on selected unit
        function updateToggleButtonText() {
            var unit = document.getElementById("unit").value;
            var toggleUnitBtn = document.getElementById("toggleUnitBtn");

            if (unit === "C") {
                toggleUnitBtn.innerText = "Convert to °F";
            } else {
                toggleUnitBtn.innerText = "Convert to °C";
            }
        }
    </script>
}
